@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Student"]</h2>
<h3>@ViewData["email"]</h3>

<p><a href="https://www.facebook.com/gabriel.oliveiralopes.98">Perfil do Facebook</a></p>
<p><a href="https://github.com/LopesGabriel">Perfil GitHub</a></p>
